html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
    padding: 0%;
}

a, h1, h2, h3, p, ul, li, ol, dl, dt, dd, blockquote, pre, form, fieldset, input, textarea, th, td {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}

header {
    height: 6em;
    background: rgb(57,57,57);
    background: linear-gradient(180deg, rgba(57,57,57,1) 0%, rgb(9, 9, 9) 52%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 14em #1f1f1f ;
}

.headerLeft {
    margin-left: 2em;
}

.headerLeft a { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: red;
}


.commentaire {
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.commentaire input {
    width: 60%;
    background-color: #333;
    height: 4em;
    border: none;
    border-radius: 5px;
}

.commentaire input:focus {
    background-color: rgb(70, 69, 69);
    border: 0px;
    box-shadow: none;
    outline: none;
}

.commentaire button {
    width: 4em;
    height: 4em;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin-left: 3px;
}

.commentaire button i {
    color: grey;
}

.espaces-com {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

.com {
    width: 100%;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    display: flex;
    padding: 1em;
    align-items: center;
}

.leftCom {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.leftCom h1 {
    font-size: 1em;
}

.hr {
    width: 100%;
    height: 1px;
    background: rgb(255,255,255);
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%);
}

#note {
    height: 100%;
}