html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

a, h1, h2, h3, p, ul, li, ol, dl, dt, dd, blockquote, pre, form, fieldset, input, textarea, th, td {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(31, 31, 31);
}

header {
    height: 6em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    box-shadow: 0 0 5em black ;
}

.headerLeft {
    margin-left: 2em;
}

.headerRight {
    margin-right: 2em;
}

.headerRight i {
    font-size: 2em;
}

.headerRight i:hover {
    color: gold;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-serie {
    height: 90%;
    margin: 0.5em;
}

.image-serie:hover {
    height: 100%;
    transition: ease 0.3s;
}

.liste-series {
    width: 100%;
    height: 10em;
    display: flex;
    padding: 0 2em;
}

.genre-serie {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.genre-serie h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2em;
}



/* Path: src/css/loby.css */

.profile {
    display: none;
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0;
    flex-direction: column;
    right: 0;
    padding: 3em;
    background-color: rgba(15, 15, 15, 0.8);
}

.profile a {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.profile i {
    font-size: 3em;
}

.profile i:hover {
    color: gold;
}