html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

a, h1, h2, h3, p, ul, li, ol, dl, dt, dd, blockquote, pre, form, fieldset, input, textarea, th, td {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #333;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-serie {
    height: 100%;
    margin: 0 1em;
}

.liste-series {
    background-color: red;
    width: 100%;
    height: 8em;
    display: flex;
    padding: 1em 1em;
}

.genre-serie {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.genre-serie h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin:0.5em 1em;
}