html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

a, h1, h2, h3, p, ul, li, ol, dl, dt, dd, blockquote, pre, form, fieldset, input, textarea, th, td {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #333;
}

header {
    height: 6em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.headerLeft {
    margin-left: 2em;
}

.headerRight {
    margin-right: 2em;
}

.headerRight i {
    font-size: 2em;
}

.headerRight i:hover {
    color: gold;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-serie {
    height: 90%;
    margin: 0.5em;
}

.image-serie:hover {
    height: 100%;
}

.liste-series {
    width: 100%;
    height: 10em;
    display: flex;
    padding: 0 2em;
}

.genre-serie {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.genre-serie h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2em;
}