html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
    padding: 0%;
}

a, h1, h2, h3, p, ul, li, ol, dl, dt, dd, blockquote, pre, form, fieldset, input, textarea, th, td {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.headerInfo {
    background: rgb(97,97,97);
    background: linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(97,97,97,0) 40%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.headerTop {
    display: flex;
}

.image-serie {
    height: 20em;
}

.headerLeft {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerRight {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre {
    height: 25%;
    margin-bottom: 4em;
}

.titre hr {
    width: 100%;
    height: 1px;
    background-color: #f3f3f3;
    border: none;
}

.titre h1 {
    font-size: 5em;
}

.resume {
    height: 40%;
}

.resume p {
    font-size: 1.5em;
}

.genre {
    display: flex;
    height: 25%;
    justify-content: space-between;
    align-items: center;
}

.headerBot {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerBot h1 {
    margin-left: 5em;
}

.headerBot a {
    margin-right: 5em;
}

.headerBot a i {
    font-size: 2em;
}

.episodes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 1em 6em;
}

.episodes-serie {
    height: 10em;
    width: 20em;
    display: flex;
    align-items: center;
}

.img {
    height: 8em;
}


.img-episode {
    height: 8em;
}

.duree {
    position: absolute;
    bottom: 0;
    right: 0;
}

.titre-episode {
    margin-left: 2em;
}

.titre-episode h1 {
    font-size: 1.5em;
}